<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<style>
    .bigsiza {
        font-size: 50px;
        text-align: center;
        padding: 10vh 0 10vh 0;
    }

    #test1 {
        background: red;
    }

    #test2 {
        background: green;
    }
</style>
<body>
<div id="test1" class="bigsiza">pagelet1loading......</div>
<div id="test2" class="bigsiza">pagelet2loading......</div>
<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/bigpipe.js"></script>
<script>
    var bigpipe = new Bigpipe();
    bigpipe.ready('pagelet1', function (data) {
        $("#test1").html(data.is);
    })
    bigpipe.ready('pagelet2', function (data) {
        $("#test2").html("test2 ready");
    })
</script>
</body>
</html>